@media ( max-width:1000px ) {
    body{
        /* overflow:scroll; */
       /* overflow-x: hidden;*/
    }
    .head{
/*         position:relative; */
    }
    .header{
        padding: 0 19px;
height:100px;
        
    }
    .leftnav{
        font-size: 39px;
    }
    .rightnav{
        
    }
    .act{
        left:0;
    }
    .rightnav ul{
        flex-direction: column;
        position:absolute;
        background-color:bisque;
        left:0;
        top:100%;
        width:100%;
        padding-block:20px;
    }
    .rightnav i{
        display: initial;
        font-size: 60px;
    }
    .main h1{
        font-size: 52px;
    }
    .about{
        flex-direction: column;
        /* width: 100vw; */
        height: 100%;
        max-width: 90%;
         margin: auto;
        
    }
    .aboutsection{
        height: 100%;
       /* overflow-x: scroll; */
    }
    
    .leftabout{
        width: 100%;
        
    }
    .rightabout{
        width: 100%;
        
    }
    .pimg img{
        margin:0 15px ;
    }
    .details{
        margin:20px 12px ;
        font-size: 15px;
        line-height: 17px;
    }
    .skill{
        line-height: 25px;
    }
  }
